* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*****Body****/

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
li {
  list-style: none;
  background-color: #f1f1f1;
  margin: 5px;
}
label {
  font-size: 15px;
}
input {
  padding: 3px;
  border-radius: 10px;
}
input:focus {
  border: 1px solid blue;
}
button:focus {
  border: 2px solid blue;
}

button {
  padding: 5px;
  border-radius: 10px;
}
button:hover {
  background-color: aliceblue;
  cursor: pointer;
}
/******** Container *********/

.Container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 400px;
  max-width: 100%;
  padding: 5em 1em 5em 1em;
  border-radius: 10px;
  background-color: #f1f1f1;
  overflow: hidden;
  height: auto;
  gap: 0.8em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/****** Maboite Ul *******/
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  margin-top: 15px;
  overflow-wrap: break-word;
  max-width: 100%;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  margin: 5px;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

li > button {
  background-color: #dc2626;
  flex-shrink: 0;
}
li > button:hover {
  cursor: pointer;
  color: #f1f1f1;
  background-color: #b91c1c;
}
/************ Responsive *********/

@media (width < 600px) {
  .Container {
    width: 300px;
  }
}
