* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*****Body****/

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
li {
  list-style: none;
  background-color: #f1f1f1;
  margin: 5px;
}
input {
  padding: 3px;
}
input:focus {
  border: 1px solid blue;
}
button:focus {
  border: 2px solid blue;
}

button {
  padding: 5px;
  border-radius: 10px;
}
/******** Container *********/

.Container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 400px;
  padding-top: 5em;
  border-radius: 10px;

  background-color: #f1f1f1;
  height: 300px;
  gap: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/************ Responsive *********/

@media (width < 600px) {
  .Container {
    width: 300px;
  }
}
